// Theme
$color-primary: #0095FF;
$color-secondary: #AFAFAF;
$color-tertiary: #E1E1E1;
$color-base: #FAFAFA;
$color-white: #ffffff;
$color-black: #323232;

//Font-weight
$font-normal: 400;
$font-medium: 500;
$font-heavy: 700;


// Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;