@use '../partials/typography' as *;
@use '../partials/variables' as *;
@use '../partials/mixins' as *;

.comments {

    &__number{
        font-size: 1.2rem;

        @include tablet {
            font-size: 1.4rem;
        }
        
    }
    
}
.form {
    display: flex;
    padding-bottom: 2rem;
    border-bottom: 2px solid $color-tertiary;
    

    &__image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-top: 2rem;
    }

    &__item {
        margin-left: 1rem;
        width: 100%;

        @include tablet {
            display: flex;
        }
    }

    &__input {
        display: flex;
        flex-direction: column;

        @include tablet {
            width: 100%;
        }

        
    }

    &__label {
        text-transform: uppercase;
        color: $color-secondary;
        font-size: 0.9rem;

        @include tablet {
            font-size: 1rem;
        }
    }

    &__text {
        width: 100%;
        height: 140px;
        margin-top: 1rem;
        border-radius: 0.3rem;
        border: 3px solid $color-tertiary;

        @include tablet {
            height: 50px;
        }
    }

    &__text[placeholder] {
        font-family: 'Avenir Next';
        font-size: 1rem;
        padding-top: 1.5rem;
        padding-left: 1.5rem;

        @include tablet {
            padding-top: 1rem;
        }
    }

    &__button {
        background-color: $color-primary;
        color: $color-white;
        border-color: transparent;
        padding: 0.7rem 0;
        width: 100%;
        border-radius: 0.3rem;
        margin-top: 1rem;
        font-size: 0.9rem;
        text-transform: uppercase;

        @include tablet {
           width: 30%;
           max-width: 150px;
           margin-left: 1.5rem;
           height: 50px;
           align-self: flex-end;
        }

    }
}