// import SearchIcon from '../assets/icons/Icon-search.svg';

.wrapper {
    max-width: 1500px;
    width: 85%;
    margin: 0 auto;
} 

.header {
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &__icon {
        width: 150px;
    }

    &__input {
        width: 100%;
        border-radius: 0.3rem;
        padding: 0.8rem 1rem;
        border: 2px solid #E1E1E1;
        background-image: url('../assets/icons/Icon-search.svg');
        background-repeat: no-repeat;
        background-position: 1.5rem center;
        background-size: 1.5rem;
        
    }

    &__input[placeholder] {
        font-size: 1rem;
        padding-left: 3.5rem;
    }

    &__img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    &__upload {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__button {
        background-color: #0095FF;
        border-color: transparent;
        border-radius: 0.3rem;
        height: 46px;
        color: #ffffff;
        font-size: 1rem;
        margin-right: 1.5rem;
        text-transform: uppercase;
        flex-grow: 1;
        background-image: url('../assets/icons/Icon-upload.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 1.5rem;

    }
}
