@use '../partials/typography' as *;
@use '../partials/variables' as *;
@use '../partials/mixins' as *;

.videos {
    &__item {
        display: flex;
        margin-bottom: 1rem;
        
        
    }

    &__link {
        text-decoration: none;
    }

    &__title {
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        color: $color-secondary; 
       

        @include tablet {
            font-size: 1.2rem;
        }
    }

    &__image {
        min-width: 150px;
        max-width: 150px;
        height: 110px;
        border-radius: 0.3rem;

         @include tablet {
            min-width: 200px;
            height: 130px;
         }
    }

    &__info {
        width: 200px;
        margin-left: 1rem;

        @include tablet {
            width: 300px;
        }
    }

    &__description {
        font-size: 1rem;
        color: $color-black;
        font-weight: 700;
        width: 100%;

        @include tablet {
            font-size : 1.2rem;
        }
    }

    &__channel {
        font-size: 1rem;
        color: $color-black;

        @include tablet {
            font-size : 1.1rem;
        }
    }
}